body {
    margin: 0 3em 3em 3em;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
}

form {
    margin-bottom: 0;
}

td {
    padding: 10px;
}

#dropdown {
    -webkit-appearance: menulist-button;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    background-color: white;
    font-size: inherit;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

select option {
    font-size: 2em;
}

table {
    display: block;
    margin: 40px auto;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #FaFaFa;
}

textarea {
    -webkit-appearance: textfield;
    border-radius: 3px;
    border: 2px inset;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

input {
    border-radius: 3px;
    width: 100%;
}

#submit {
    -webkit-appearance: button;
    display: block;
    margin: 0 auto;
    width: 100px;
    position: right;
    background-color: white;
    border: 1px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

#selectActivity {
    border: none;
    display: block;
    margin: 10px auto 0;
}

.left style {
    width: 300px;
}

.ui-autocomplete .ui-menu-item {
    font-size: .65em;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    display: block;
    margin: 2em auto 0;
    text-align: center;
}


h3 {
    font-weight: normal;
}


#wrapperHeader #header img{
  display: block;
    margin: 0 auto;
    width: 80%;   
}