body {
    margin: 0 3em 3em 3em;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
}

form {
    margin-bottom: 0;
}

td {
    padding: 10px;
}

#dropdown {
    -webkit-appearance: menulist-button;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    background-color: white;
    font-size: inherit;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

select option {
    font-size: 2em;
}

table {
    display: block;
    margin: 40px auto;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    padding: 10px;
}

.login {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #FaFaFa;
}

textarea {
    -webkit-appearance: textfield;
    border-radius: 3px;
    border: 2px inset;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

input {
    border-radius: 3px;
    width: 100%;
}

#submit {
    -webkit-appearance: button;
    display: block;
    margin: 0 auto;
    width: 100px;
    position: right;
    background-color: white;
    border: 1px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

#selectActivity {
    border: none;
    display: block;
    margin: 10px auto 0;
}

.left style {
    width: 300px;
}

.ui-autocomplete .ui-menu-item {
    font-size: .65em;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    display: block;
    margin: 2em auto 0;
    text-align: center;
}

h3 {
    font-weight: normal;
}

#wrapperHeader #header img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

#loginInfo {
 display: block;
background-color: #a1e9e6;
    margin: 40px auto;
padding: 10px;
        margin: 0 3em 3em 3em;
}


#loginInfo a {
    align: right;
    text-decoration: none;
    width: 50%;
}


#loginInfo a:hover {
       color: white;
    
    
}




/* modal defaults */

.modal-on body {
    overflow: hidden;
}

.modal-context {
    background-color: rgba(211, 211, 211, 0.8);
    height: 100%;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}

.modal-container {
    margin: 0 auto;
    max-width: 100%;
    padding: 20px 0;
    position: absolute;
    width: 1160px;
}

.modal-title {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    font-weight: 700;
    padding: 20px;
}

.modal-content {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
}

.modal-close {
    background: none;
    border: 0;
    color: #333;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 20px;
    width: 30px;
}

.modal-close:after {
    content: '\00d7';
    display: inline-block;
    font-family: 'helvetica', sans-serif;
    font-size: 30px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

.modal-close:hover {
    color: #000;
}

@media screen and (max-width: 1200px) {
    .modal-container {
        margin: 0 20px;
        width: auto;
    }
}

@media screen and (max-width: 1024px) {
    .modal-on {
        overflow: hidden;
    }
    .modal-on body {
        left: 0;
        position: fixed;
        top: 0;
    }
}
/* modal X */

.xmodal-overlay {
    background-color: red;
    height: 100%;
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}